.DatosDeCompra{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.DatosDeCompra img{
    margin: 40px;
}
.DatosDeCompra .Link{
    margin: 10px;
	color: red;
    text-decoration: underline;
}
.DatosDeCompra .Link:hover{
    color: crimson;
}
.DatosDeCompra input{
    width: 400px;
    height: 40px;
    margin: 20px;
    background-color: rgb(196, 196, 196);
    color: black;
    font-size: 18px;
    border: none;
    border-radius: 8px;
}
.DatosDeCompra input:focus{
    background-color: white;
    border: 4px solid rgb(255, 0, 0);
}
.DatosDeCompra select{
    width: 400px;
    height: 40px;
    margin: 20px;
    background-color: rgb(196, 196, 196);
    font-size: 18px;
    border: none;
    border-radius: 8px;
}
.DatosDeCompra select:focus{
    background-color: white;
    border: 2px solid rgb(255, 0, 0);
}
.DatosDeCompra button{
    color: white;
    background-color: green;
    width: 120px;
    height: 55px;
    font-size: 22px;
    border: 3px solid rgb(0, 78, 0);
    margin: 20px;
}
label{
    width: 10%;
    font-size: 19px;
    margin: 20px;
}