.DetalleArticulos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.CardArticulo{
    width: 500px;
    border: solid black 1px;
    margin: 10px;
}
.DescripcionArticulo{
    width: 500px;
    height: auto;
    border: solid black 3px;
}