.Navigation {
  display: flex;
  background-color: gray;
  justify-content: space-around;
  align-items: center;
  min-height: 50px;
  color: red;
  height: 100px;
}

ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

ul li {
  list-style-type: none;
}