
.Stock p{
    background-color: rgb(165, 0, 0);
    color: white;
    font-size: 24px;
}
button{
    width: 100px;
    height: 40px;
    background-color: rgba(44, 44, 44);
    font-size: 16px;
    margin: 0;
    border: 3px solid rgb(22, 22, 22);
    color: rgb(211, 211, 211);
}
button:active{
    box-shadow: 0 3px rgba(75, 75, 75, 0.705);
    transform: translateY(1px);
}
.BotonAgregarCarrito{
    margin: 10px;
    background-color: green;
    width: 250px;
    height: 50px;
    font-size: 20px;
    color: white;
    border: 3px solid rgb(0, 78, 0);
}
.CantidadAComprar{
    display: 'flex';
    justify-content: center;
    align-items: center
}