.Carrito{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: skyblue;
}
.Carrito img{
    margin: 40px;
}
.Carrito .Link{
    margin: 10px;
	color: red;
    text-decoration: underline;
}
.Carrito .Link:hover{
    color: crimson;
}
.ProductoCarrito{
    background-color: rgba(104, 104, 104, 0.178);
    border: 2px solid black;
    width: 90vw;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
}
.ProductoCarrito img{
    width: 130px;
    height: 140px;
}
.ProductoCarrito h3{
    width: 40vw;
}
.PrecioProducto{
    display: flex;
    flex-direction: column;
    width: 15vw;
    align-items: center;
}
.PrecioProducto button{
    color: black;
    height: 40px;
    width: 150px;
    border: 1px solid black;
    font-size: 17px;
    background-color: rgba(255, 0, 0, 0.644);
}
.BotonesGestionCarrito{
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: auto;
    align-items: center;
    justify-content: space-around;
}
.BotonesGestionCarrito button{
    margin: 10px;
    width: auto;
    font-size: 18px;
}
#BotonTerminarMiCompra{
    color: white;
    background-color: green;
    width: auto;
    height: 50px;
    font-size: 20px;
    border: 3px solid rgb(0, 78, 0);
}
#BotonVaciarCarrito{
    background-color: rgba(255, 0, 0, 0.644);
    font-size: 18px;
    width: auto;
    border: 3px solid rgb(87, 0, 0);
    color: rgb(211, 211, 211);
}
.PrecioTotalCarrito{
    display: flex;
    flex-direction: column;
    width: 15vw;
    align-items: center;
}